.topnav {
  overflow: hidden;
  background-image: linear-gradient(90deg,pink,purple);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: blue;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
section{
  padding: 5px;
  background-image: linear-gradient(90deg, black,blue,purple,pink);
  text-align: left;
  border-radius : 6px;
  color: white;
  padding: 32px;
  max-width: 1600px;
  min-width: 500px;
}
footer{
  background-color: #eee;
  text-align: left;
  padding: 10px;
  max-width: 1600px;
  min-width: 100px;
}/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */




.dropdown {
    position: relative;
    height: 172px;
    width: 200px;
    overflow: hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0px; 
    overflow-y: scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cccccc}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}